.todolist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todos {
    display: flex;
    flex-direction: column;
    width: 24rem;
    gap: 0.25rem;
}

.todo {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black
}